.App {
  text-align: left;
  margin: auto;
  width: 80%;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #486586;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 5rem;
  margin: auto;
  width: 100%;
}

.App-link {
  color: #09d3ac;
}
